*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
.header{
    background:rgb(90, 90, 148);
}
.navbar{
    padding-top: 10px !important;
}
.nav-item{
    margin-left: 40px;
    /* margin-bottom: 5px; */
}
.nav-link{
    color: white !important;
    font-size: 15px !important;
    padding: 0 0 3px 0 !important;
}
.navbar-brand span{
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid white;
}
.fa-bars{
    color: white;
    font-size: 30px !important;
}
.navbar-toggler{
    border: 0 !important;
    outline: none !important;
}
.active-home{
    border-bottom: 2px solid white;
}
.nav-link:hover{
    border-bottom: 2px solid white;
}
.banner{
    margin-top: 8%;
    color: white;
}
.banner h1{
    margin: 80px 0 50px;
    font-weight: 600;
    font-size: 40px;
}
.banner img{
    max-height: 500px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.banner a{
    padding: 12px;
    width: 160px;
    display: inline-block;
    background:transparent;
    text-decoration: none !important;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-right: 5px;
    font-weight: bold;
}
.banner .express-btn{
    background: white;
    color: black;
}




.service{
    margin: 75px 0;
}
.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.sub-title{
    text-align: center;
    margin-bottom: 70px;
    font-size: 15px;
}

.service-box img{
    width: 50px;
    margin-top: 65px;
    margin-bottom: 40px;
}
.service-box{
    padding: 0 35px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: .4s;
}
.service-box h6{
    margin-bottom: 30px;
    font-weight: bold;
}
.service-box p{
    font-size: 15px;
}
.fa-arrow-right{
    font-size: 22px !important;
    margin-top: 20px;
    margin-bottom: 30px;
}
.service-box:hover, .active-service{
    background-color: rgb(90, 90, 148);
    border-radius: 5px;
    color: white;
    box-shadow: 0 15px 15px 2px rgb(97, 83, 83);
}
.active-service p{
    color: white;
}


.feature,.explore{
    margin: 200px 0px;
}
.feature img,.explore img{
    width: 70%;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 50px;
}
.feature h2,.explore h2{
    margin-top: 50px;
    font-weight: bold;
    line-height: 50px;
}
.feature p,.explore p{
    margin-top: 25px;
    margin-bottom: 50px;
    color: grey;
    font-size: 15px;
    line-height: 20px;
}
.feature a,.explore a{
    width: 150px;
    padding: 15px 10px;
    text-decoration: none !important;
    display: block;
    background: rgb(90, 90, 148);
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 9px 9px 1px rgb(161, 146, 146);
}

.review{
    margin: 100px 0;
}
.carousel-item img{
    width: 150px;
    border-radius: 50%;
}
.carousel-item{
    text-align: center;
    height: 425px;
}

.carousel-caption small{
    color: black;
    margin-top: 55px;
    display: block;
    margin-bottom: 50px;
}

.carousel-caption{
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 15px 1px rgb(156, 135, 135);
    z-index: -1 !important;
    margin-bottom: 50px;
}
.carousel-caption h5{
    color: black;
    font-weight: bold;
    margin-top: 65px;
}
.carousel-caption small{
    margin-top: 55px;
    margin-bottom: 50px;
    display: block;
}
.carousel-caption p{
    text-align: center;
    font-size: 15px;
    padding: 0 50px;
}
.carousel-indicators li{
    background-color: rgb(90, 90, 148) !important;
    border: 2px solid rgb(90, 90, 148);
    border-radius: 50%;
}

@media only screen and (max-width:700px){
    .carousel-item{
        height: 560px;
    }
    .carousel-caption{
        margin: 0 40px 145px 40px;
        left: 0;
        right: 0;
    }
}


.footer{
    background: rgb(90, 90, 148);
    padding-top: 5px;
}
.footer h2{
    color: white;
    font-weight: 600;
    margin: 70px 0;
}
.footer input{
    width: 60%;
    background: transparent;
    border: 0;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
}
::placeholder{
    color: rgb(218, 197, 197);
    font-size: 18px;
}
.footer button{
    padding: 5px;
    width: 150px;
    display: block;
    margin: auto;
    color: white;
    border: 2px solid white;
    background: transparent;
}
.footer small{
    margin-bottom: 55px;
    font-size: 14px;
    padding: 70px;
    display: block;
    color: white;
}

@media only screen and (max-width:991px){
    .active-home, .nav-link:hover{
        border: none;
    }
    .nav-item a{
        mask-border: 10px !important;
    }
}